<% if !signed_in? %>
<div class="navigation">
  <button id="button1"><%= link_to "Sign In", signin_path %></button>
  <button id="button2"><%= link_to "Sign up", signup_path %></button>
</div>
<% end %>

<div id="map"></div>
<%= requirejs_include_tag %>

<script>
  require.config({urlArgs: 'bust='+Date.now()});
  require(['roadtweets/main']);
</script>

<% if signed_in? %>
<div class="search-container">
  <input type="search" id="search-input">
</div>
<% end %>


