/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.button {
  background-color: #fa4542;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #be0201;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 15px;
}

.button a {
  text-decoration: none;
}

.button.search_submit {
  float: right;
  margin-top: 13px;
}

div .leaflet-popup-content-wrapper {
  background-color: rgb(245,255,250);
  width: 320px;
}

.infowindow {
  border-radius: 15px;
  height: 140px;
}

input[value="search for a hashtag"] {
  color: white;
}

#map {
  height: 500px;
  margin: 0 auto;
  margin-top: 10px;
  width: 1000px;
}

.navigation {
  height: 35px;
  margin-bottom: 0;
  margin-left: 1000px;
  margin-top: 30px;
  width: 165px;
}

.search-container {
  width: 300px;
  margin-left: 260px;
}

#search_term {
  border: 1px solid grey;
  border-radius: 3px;
  float: left;
  margin-top: 17px;
  width: 125px;
}

.sign_in {
  float: right;
  height: 30px;
}

.sign_up {
  align: left;
  height: 30px;
}

.tweetpic {
  border-radius: 5px;
  float: left;
  margin-right: 15px;
  margin-top: 2px;
  max-height: 140px;
  width: 100px;
}

.user_form_container {
  border: 2px solid red;
}
