/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#button1 {
  float: left;
}

#button2 {
  float: right;
}

.infowindow {
  border: 2px solid blue;
  border-radius: 15px;
  width: 200px;
  height: auto;
}

#map {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.navigation {
  height: 35px;
  margin: 0 auto;
  width: 200px;
}

.tweetpic {
  align: left;
  height: auto;
  width: 100px;
  border-radius: 5px;
}

.user_form_container {
  border: 2px solid red;
}
