/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Helvetica;
  margin: 0;
  position: relative;
}

.button {
  background-color: #fa4542;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #be0201;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 15px;
}

.button a {
  text-decoration: none;
}

.button.search_submit {
  float: right;
}

div .leaflet-popup-content-wrapper {
  background-color: rgb(245,255,250);
  width: 320px;
}

.first {
  color: #fa4542;
  float: left;
  padding: 3px;
}

.feedback {
  display: inline-block;
  color: #737373;
  left: 2%;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  position: absolute;
}

.infowindow {
  border-radius: 15px;
  height: 140px;
}

input[value="search for a hashtag"] {
  color: white;
}

#map {
  height: 500px;
  margin-top: 10px;
  padding: 0;
  width: 100%;
}

.navigation {
  display: inline-block;
  height: 35px;
  margin-bottom: 0;
  left: 70%;
  margin-top: 30px;
  position: relative;
  width: 165px;
}

.search-container {
  left: 12%;
  margin-top: 10px;
  position: relative;
  width: 630px;
}

#search_term {
  border: 1px solid grey;
  border-radius: 3px;
  float: left;
  margin-top: 17px;
  width: 125px;
}

.search_field {
  border: 2px solid rgba(115, 115, 115, 0.6);
  border-radius: 3px;
  color: #737373;
  font-size: large;
  height: 30px;
  width: 235px;
}

.sign_in {
  float: right;
  height: 30px;
}

.sign_up {
  align: left;
  height: 30px;
}

.title_container {
  float: left;
  line-height: 20px;
  padding-left: 70px;
}

.tweetpic {
  border-radius: 5px;
  float: left;
  margin-right: 15px;
  margin-top: 2px;
  max-height: 140px;
  width: 100px;
}
