
<% if signed_in? %>

  <%= form_for :session, url: signout_path, method: 'delete' do |f| %>
  <p>
    signed in as <%= current_user.name %>
    <%= f.submit "sign out", id: 'signout' %>
  </p>

    <% if current_user %>
    <div class="nav">
      <p><%= link_to "edit details", edit_user_path(current_user) %></p>
    </div>
    <% end %>

  <% end %>

<% end %>
