
<!DOCTYPE html>
<html>
  <head>
    <title>RoadTweets</title>
    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= csrf_meta_tags %>

    <!-- TODO bring in leaflet stylesheet -->

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  </head>
  <body>
  <%= render 'common/signout' %>
  <%= yield %>
  </body>
</html>
